# general
#opencv-python 
opencv-contrib-python=3.4.2.17
argparse
pyproj
progressbar
dask[delayed]
# hausdorff
# numba
matplotlib

# osm download
requests
osmtogeojson
# overpass

# indexing
joblib

# unclear
numpy