# prerequisites
cython

# general
numpy
#opencv-python  #opencv-python            3.4.3.18
opencv-contrib-python==3.4.2.17
argparse
pyproj
scikit-image
progressbar
dask[delayed]
matplotlib

# osm download
requests
osmtogeojson

# indexing
joblib
annoy

# eval
rasterio
imagecodecs # for decoding raw LZW BMP images